body{
    margin: 0 auto;
    background-color:aliceblue;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 600px;
}

nav > ul{
    display: flex;
    list-style: none;
    flex-direction: row;
    gap: 60px;
    justify-content: center;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    color: rgb(41, 41, 41);

}

@media (max-width: 768px) {
    

  }f
  