body{
    margin: 0 auto;
    background-color:aliceblue;
}

.navbar{
    display: flex;
    /* width: 600px; */
    gap: 600px;
}

nav > ul{
    display: flex;
    flex-direction: row;
    gap: 60px;
}