@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply font-sans antialiased;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: 'MyFont';
  src: url('./assets/fonts/Volter-Regular.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
}

#hero1 {
  font-family: 'Volter', sans-serif;
}